Source: at
Section: admin
Priority: standard
Maintainer: Ansgar Burchardt <ansgar@43-1.org>
Standards-Version: 3.8.3
Build-Depends: debhelper (>= 7), autotools-dev, bison, flex, libpam0g-dev,
 perl (>= 5.10.1)
Vcs-Browser: http://git.debian.org/?p=collab-maint/at.git
Vcs-Git: git://git.debian.org/git/collab-maint/at.git
DM-Upload-Allowed: yes

Package: at
Architecture: any
Depends: ${shlibs:Depends}, lsb-base (>= 3.2-14), libpam-runtime (>= 1.0.1-11)
Recommends: exim4 | mail-transport-agent
Description: Delayed job execution and batch processing
 At and batch read shell commands from standard input
 storing them as a job to be scheduled for execution in the
 future.
 .
 Use
  at    to run the job at a specified time
  batch to run the job when system load levels permit
